<ul class="iti__country-list iti__hide"
id="iti-1__country-listbox"
role="listbox"
aria-label="List of countries">
    <li class="iti__country iti__preferred iti__active"
        tabindex="-1"
        id="iti-1__item-fr-preferred"
        role="option"
        data-dial-code="33"
        data-country-code="fr"
        aria-selected="true">
        <div class="iti__flag-box">
            <div
                class="iti__flag iti__fr">
            </div>
        </div><span
            class="iti__country-name">France</span><span
            class="iti__dial-code">+33</span>
    </li>
</ul>