<div data-target="filter-accordion.panel"
    class="hidden overflow-hidden duration-100 sm:block">
    <div class="flex relative flex-row justify-between items-center self-start px-4 py-4 lg:mb-4 w-full shadow xl:px-0 xl:shadow-none xl:py-0">
        <div class="flex justify-start items-center">
            <p class="flex items-start pr-2 m-0 font-sans text-xl font-bold text-gray-800">Catégories</p>
        </div>
    </div>
    <search-form data-catalyst="">
        <div class="relative">
            <svg xmlns="http://www.w3.org/2000/svg"
                class="absolute right-3 top-4 w-8 h-full">
                <g data-name="Loupe">
                    <path data-name="Rectangle 1443"
                        style="fill:none"
                        d="M0 0h32v32H0z"></path>
                    <path data-name="Tracé 8311"
                        d="M8.759.929c6.474 3.559 8.759 3.922 8.759 8.759A8.759 8.759 0 1 1 0 9.688C0 4.85 2.285-2.63 8.759.929z"
                        transform="rotate(-149 14.632 11.938)"
                        style="fill:#618b59;opacity:.3">
                    </path>
                    <path data-name="Tracé 42"
                        d="M13.12 22.22A8.675 8.675 0 0 1 6.986 7.411a8.675 8.675 0 1 1 12.268 12.268 8.6 8.6 0 0 1-6.109 2.541h-.025zm0-16.268a7.593 7.593 0 1 0 7.593 7.593 7.6 7.6 0 0 0-7.593-7.593z">
                    </path>
                    <path data-name="Tracé 43"
                        d="m18.634 19.808 5.416 5.417a.542.542 0 1 0 .781-.752L19.4 19.042a.541.541 0 1 0-.765.766z">
                    </path>
                </g>
            </svg>
        </div>
        <div data-target="search-form.result">


            <display-toggle data-catalyst="">
                <ul class="pt-3">

                    <li
                        class="flex items-center mb-2 ">
                        <div>
                            <a data-link-id="nature_1"
                                class="flex relative flex-row items-center"
                                href="https://www.onatera.com/FR/fr/aromatherapie/toutes-nos-huiles-vegetales?nature%5B0%5D=Aromath%C3%A9rapie"
                                rel="nofollow"
                                data-action="click:ajax-navigation#navigate"
                                toto=""
                                aria-label="Aromathérapie">
                                <div
                                    class="m-0 w-4 h-4 rounded border border-black cursor-pointer">
                                </div>
                            </a>
                        </div><a
                            data-link-id="nature_1"
                            class="flex relative flex-row items-center"
                            href="https://www.onatera.com/FR/fr/aromatherapie/toutes-nos-huiles-vegetales?nature%5B0%5D=Aromath%C3%A9rapie"
                            rel="nofollow"
                            data-action="click:ajax-navigation#navigate"
                            toto=""
                            aria-label="Aromathérapie">
                            <div class="my-0 ml-2 font-sans text-sm text-gray-700 cursor-pointer"
                                toto-label="">
                                Aromathérapie
                            </div>
                            <div class="px-2 py-1 m-0 my-0 ml-2 font-sans text-center bg-gray-100 rounded-lg text-brand-900 text-2xs"
                                toto-count="">39
                            </div>
                        </a>
                    </li>

                    <li
                        class="flex items-center mb-2 ">
                        <div>
                            <a data-link-id="nature_2"
                                class="flex relative flex-row items-center"
                                href="https://www.onatera.com/FR/fr/aromatherapie/toutes-nos-huiles-vegetales?nature%5B0%5D=Cosm%C3%A9tique"
                                rel="nofollow"
                                data-action="click:ajax-navigation#navigate"
                                toto=""
                                aria-label="Cosmétique">
                                <div
                                    class="m-0 w-4 h-4 rounded border border-black cursor-pointer">
                                </div>
                            </a>
                        </div><a
                            data-link-id="nature_2"
                            class="flex relative flex-row items-center"
                            href="https://www.onatera.com/FR/fr/aromatherapie/toutes-nos-huiles-vegetales?nature%5B0%5D=Cosm%C3%A9tique"
                            rel="nofollow"
                            data-action="click:ajax-navigation#navigate"
                            toto=""
                            aria-label="Cosmétique">
                            <div class="my-0 ml-2 font-sans text-sm text-gray-700 cursor-pointer"
                                toto-label="">
                                Cosmétique
                            </div>
                            <div class="px-2 py-1 m-0 my-0 ml-2 font-sans text-center bg-gray-100 rounded-lg text-brand-900 text-2xs"
                                toto-count="">6
                            </div>
                        </a>
                    </li>

                    <li
                        class="flex items-center mb-2 ">
                        <div>
                            <a data-link-id="nature_3"
                                class="flex relative flex-row items-center"
                                href="https://www.onatera.com/FR/fr/aromatherapie/toutes-nos-huiles-vegetales?nature%5B0%5D=Ingr%C3%A9dients%20pour%20cosm%C3%A9tiques%20maison"
                                rel="nofollow"
                                data-action="click:ajax-navigation#navigate"
                                toto=""
                                aria-label="Ingrédients pour cosmétiques maison">
                                <div
                                    class="m-0 w-4 h-4 rounded border border-black cursor-pointer">
                                </div>
                            </a>
                        </div><a
                            data-link-id="nature_3"
                            class="flex relative flex-row items-center"
                            href="https://www.onatera.com/FR/fr/aromatherapie/toutes-nos-huiles-vegetales?nature%5B0%5D=Ingr%C3%A9dients%20pour%20cosm%C3%A9tiques%20maison"
                            rel="nofollow"
                            data-action="click:ajax-navigation#navigate"
                            toto=""
                            aria-label="Ingrédients pour cosmétiques maison">
                            <div class="my-0 ml-2 font-sans text-sm text-gray-700 cursor-pointer"
                                toto-label="">
                                Ingrédients pour
                                cosmétiques maison
                            </div>
                            <div class="px-2 py-1 m-0 my-0 ml-2 font-sans text-center bg-gray-100 rounded-lg text-brand-900 text-2xs"
                                toto-count="">4
                            </div>
                        </a>
                    </li>
                </ul>
            </display-toggle>

        </div>
    </search-form>
    <div class="my-5 border-b border-gray-300"></div>
</div>