<div class="pr-0 w-auto bg-white xl:w-3/12 xl:pr-4 2xl:pr-0">

    <div class="flex overflow-hidden fixed top-0 -left-full z-20 flex-col self-start w-full h-full bg-white transition-all xl:z-0 xl:bg-gray-50 duration-400 xl:transition-none xl:self-stretch xl:duration-none xl:left-0 xl:flex-none xl:pt-6 xl:pr-10 xl:pb-10 xl:block xl:relative xl:pl-5 2xl:pl-10"
        data-target="mobile-panel.layer">
        <div class="flex overflow-hidden flex-col self-start w-full h-full facets">
            <!-- sort_product -->
            <%-include("sidebar_sort_product")%>
            <%-include("sidebar_filter")%>
            <%-include("sidebar_accordion")%>
        </div>



        </div>
    </div>
</div>