<div class="border-b border-gray-200 py-4"
data-qa="cart_product_container">
<div class="flex text-gray-800">
    <div class="flex items-center w-24">



        <analytics-datalayer class="w-full" data-catalyst=""
            data-variant-quantity-id="" data-datalayer-type=""
            data-product-position="">
            <a class="relative w-full square block"
                href="https://www.onatera.com/FR/fr/produit-huile-de-massage-a-l-arnica-bio-200-ml-onatera-repair"
                data-action="click:analytics-datalayer#push">
                <img class="object-contain absolute top-0 right-0 bottom-0 left-0 m-auto w-full h-full w-full"
                    src="./cart3_files/62ed2acaf1b92639236632.jpg"
                    alt=" 200 ml" loading="lazy">
            </a>

            <span class="hidden"
                data-target="analytics-datalayer.datalayer">{"event":"productClick","product_click":{"product_category_level_1":"Beaut\u00e9
                &amp;
                Hygi\u00e8ne","product_category_level_2":"Soins
                corps","product_category_level_3":"Soins
                r\u00e9parateurs","product_id":"ONATERA-REPAIR-HUILE-DE-MASSAGE-A-L-ARNICA-BIO","product_name":"Huile
                de Massage \u00e0 l'Arnica Bio - 200
                ml","product_brand":"Onatera
                Repair","product_marketing_label":["Certifi\u00e9
                Bio","100% naturel","Cr\u00e9\u00e9 chez nous en
                Provence","Pack en verre
                recyclable"],"product_client_notation":4.6061,"product_client_notation_number":33,"product_price":12.9,"product_is_in_stock":true,"product_sku":"20567","product_list":"Soins
                r\u00e9parateurs","product_position":1}}</span>
        </analytics-datalayer>
    </div>

    <div class="pl-4 w-full">
        <div class="flex flex-row justify-between items-start">
            <analytics-datalayer data-catalyst=""
                data-variant-quantity-id="" data-datalayer-type=""
                data-product-position="">
                <a href="https://www.onatera.com/FR/fr/produit-huile-de-massage-a-l-arnica-bio-200-ml-onatera-repair"
                    data-action="click:analytics-datalayer#push">
                    <p class="flex items-center text-xs text-gray-500"
                        data-qa="product_brand_name">
                        <svg class="stroke-current h-4 w-4 text-gray-600"
                            data-qa="product_onatera_brand"
                            id="marque-Onatera"
                            data-name="Icon / Marque Onatera"
                            xmlns="http://www.w3.org/2000/svg"
                            width="32" height="32"
                            viewBox="0 0 32 32">
                            <g id="Calque_3" data-name="Calque 3"
                                transform="translate(33.004 7)">
                                <path id="Tracé_7751"
                                    data-name="Tracé 7751"
                                    style="fill:none; stroke-linecap:round; stroke-linejoin:round;"
                                    d="M1040-231.151c-3.128 1.227-4.734-2.41-4.734-2.41s4.057-.719 4.734 2.41"
                                    transform="translate(-1058.175 235.566)">
                                </path>
                                <path id="Tracé_7752"
                                    data-name="Tracé 7752"
                                    style="fill:none; stroke-linecap:round; stroke-linejoin:round;"
                                    d="M1064.935-262.858c3.678-3.086 0-7.444 0-7.444s-3.677 4.565 0 7.444"
                                    transform="translate(-1081.672 266.302)">
                                </path>
                            </g>
                            <path id="Tracé_8416"
                                data-name="Tracé 8416"
                                style="fill:none; stroke-linecap:round; stroke-linejoin:round;"
                                d="M-7479.923-7860.688a2.833 2.833 0 0 0-.78.867c-2.241 3.425-.9 10.727-.9 10.727"
                                transform="translate(7496.001 7876.973)">
                            </path>
                            <path id="Tracé_8415"
                                data-name="Tracé 8415"
                                style="fill:none; stroke-linecap:round; stroke-linejoin:round;"
                                d="M-7482-7862.645s6.828-.6 9.069 2.823.9 10.727.9 10.727"
                                transform="translate(7490.001 7876.973)">
                            </path>
                            <path id="Tracé_8418"
                                data-name="Tracé 8418"
                                style="fill:none; stroke-linecap:round; stroke-linejoin:round;"
                                d="M-7471.634-7862.645a18.576 18.576 0 0 0-5.151.408"
                                transform="translate(7494.687 7876.973)">
                            </path>
                        </svg>
                        Onatera Repair
                    </p>
                    <p data-qa="product_name">
                        Huile de Massage à l'Arnica Bio
                    </p>

                    <p class="inline-block text-xs text-gray-500">
                        <span
                            class="inline pr-1 w-full h-2 border-r border-gray-500"
                            data-qa="product_variant_name"> 200
                            ml</span>
                        <span data-qa="product_reference">Réf
                            20567</span>
                    </p>

                </a>

                <span class="hidden"
                    data-target="analytics-datalayer.datalayer">{"event":"productClick","product_click":{"product_category_level_1":"Beaut\u00e9
                    &amp;
                    Hygi\u00e8ne","product_category_level_2":"Soins
                    corps","product_category_level_3":"Soins
                    r\u00e9parateurs","product_id":"ONATERA-REPAIR-HUILE-DE-MASSAGE-A-L-ARNICA-BIO","product_name":"Huile
                    de Massage \u00e0 l'Arnica Bio - 200
                    ml","product_brand":"Onatera
                    Repair","product_marketing_label":["Certifi\u00e9
                    Bio","100% naturel","Cr\u00e9\u00e9 chez nous en
                    Provence","Pack en verre
                    recyclable"],"product_client_notation":4.6061,"product_client_notation_number":33,"product_price":12.9,"product_is_in_stock":true,"product_sku":"20567","product_list":"Soins
                    r\u00e9parateurs","product_position":1}}</span>
            </analytics-datalayer>
            <analytics-datalayer data-catalyst=""
                data-variant-quantity-id="" data-datalayer-type=""
                data-product-position="">
                <throttle-button data-catalyst="">
                    <a class="w-8 h-8"
                        href="https://www.onatera.com/FR/fr/cart/remove/17/1"
                        aria-label="Supprimer"
                        data-qa="product_remove"
                        data-action="click:analytics-datalayer#push click:throttle-button#disableElement">
                        <svg id="Icon_Poubelle"
                            data-name="Icon / Poubelle"
                            xmlns="http://www.w3.org/2000/svg"
                            width="32" height="32"
                            viewBox="0 0 32 32">
                            <defs>
                                <style>
                                    .cls-2,
                                    .cls-3,
                                    .cls-4 {
                                        fill: none
                                    }

                                    .cls-3,
                                    .cls-4 {
                                        stroke: #2e382e;
                                        stroke-linecap: round
                                    }

                                    .cls-3 {
                                        stroke-linejoin: round
                                    }

                                    .cls-5 {
                                        stroke: none
                                    }
                                </style>
                            </defs>
                            <path id="Tracé_8955"
                                data-name="Tracé 8955"
                                d="M9.5.265c7.019 3.859 9.5 4.252 9.5 9.5a9.5 9.5 0 1 1-19-.004C0 4.516 2.478-3.594 9.5.265z"
                                transform="translate(13 2.688)"
                                style="fill:#f3f4f6"></path>
                            <path id="Rectangle_363"
                                data-name="Rectangle 363"
                                class="cls-2" d="M0 0h32v32H0z">
                            </path>
                            <g id="Rectangle_350"
                                data-name="Rectangle 350"
                                class="cls-3">
                                <path class="cls-5"
                                    d="M0 0h11v12a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V0z"
                                    transform="translate(10.5 10)">
                                </path>
                                <path class="cls-2"
                                    d="M1 .5h9a.5.5 0 0 1 .5.5v11A1.5 1.5 0 0 1 9 13.5H2A1.5 1.5 0 0 1 .5 12V1A.5.5 0 0 1 1 .5z"
                                    transform="translate(10.5 10)">
                                </path>
                            </g>
                            <path id="Ligne_176"
                                data-name="Ligne 176" class="cls-4"
                                transform="translate(14.5 13)"
                                d="M0 0v7"></path>
                            <path id="Ligne_177"
                                data-name="Ligne 177" class="cls-4"
                                transform="translate(17.5 13)"
                                d="M0 0v7"></path>
                            <path id="Ligne_178"
                                data-name="Ligne 178" class="cls-4"
                                transform="translate(10 10.5)"
                                d="M0 0h12"></path>
                            <g id="Rectangle_351"
                                data-name="Rectangle 351"
                                class="cls-3">
                                <path class="cls-5" d="M0 0h5v3H0z"
                                    transform="translate(13.5 8)">
                                </path>
                                <path class="cls-2"
                                    d="M.5.5h4v2h-4z"
                                    transform="translate(13.5 8)">
                                </path>
                            </g>
                        </svg>
                    </a>
                </throttle-button>

                <span class="hidden"
                    data-target="analytics-datalayer.datalayer">{"event":"removeFromCart","localisation":"Panier","product_remove_from_cart":{"product_category_level_1":"Beaut\u00e9
                    &amp;
                    Hygi\u00e8ne","product_category_level_2":"Soins
                    corps","product_category_level_3":"Soins
                    r\u00e9parateurs","product_id":"ONATERA-REPAIR-HUILE-DE-MASSAGE-A-L-ARNICA-BIO","product_name":"Huile
                    de Massage \u00e0 l'Arnica Bio - 200
                    ml","product_brand":"Onatera
                    Repair","product_marketing_label":["Certifi\u00e9
                    Bio","100% naturel","Cr\u00e9\u00e9 chez nous en
                    Provence","Pack en verre
                    recyclable"],"product_client_notation":4.6061,"product_client_notation_number":33,"product_price":12.9,"product_is_in_stock":true,"product_sku":"20567","quantity":0}}</span>
            </analytics-datalayer>
            <!-- /!\ only with cart -->
        </div>
        <div class="flex flex-row justify-between mt-2">
            <update-cart-quantity
                data-action="update-cart-quantity.end:ajax-navigation#refresh mouseleave:update-cart-quantity#update pointerleave:update-cart-quantity#updateDebounced update-cart-quantity.start:ajax-navigation#_feedback  update-cart-quantity.errorMessage:update-cart#displayFlashMessage"
                class="flex relative w-24 h-10 sm:ml-2 md:ml-0"
                id="cart-quantity-widget-0" data-catalyst="">
                <input type="hidden"
                    data-target="update-cart-quantity.incrementRouteInput"
                    value="/FR/fr/add?productId=17" class="hidden">
                <input type="hidden"
                    data-target="update-cart-quantity.decrementRouteInput"
                    value="/FR/fr/17/remove_item" class="hidden">
                <input type="hidden"
                    name="sylius_add_to_cart[cartItem][variant]"
                    value="20567"
                    data-target="update-cart-quantity.variantInput">

                <cart-quantity-widget
                    class="flex relative w-24 ring-1 ring-transparent"
                    data-catalyst="">


                    <analytics-datalayer
                        data-datalayer-type="RemoveFromCartDataLayer"
                        data-catalyst="" data-variant-quantity-id=""
                        data-product-position="">
                        <button type="button"
                            data-qa="select_quantity_decrement"
                            data-target="cart-quantity-widget.decrementButton"
                            data-action="click:cart-quantity-widget#decrement click:update-cart-quantity#decrement click:analytics-datalayer#push"
                            class="flex absolute inset-y-0 left-0 items-center w-1/3 disabled:cursor-default disabled:opacity-40"
                            aria-label="Retirer" disabled="">
                            <svg xmlns="http://www.w3.org/2000/svg"
                                class="ml-4 h-3 w-3"
                                viewBox="0 0 20 20"
                                fill="currentColor">
                                <path fill-rule="evenodd"
                                    d="M3 10a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1z"
                                    clip-rule="evenodd"></path>
                            </svg>
                        </button>


                        <span class="hidden"
                            data-target="analytics-datalayer.datalayer">{"event":"removeFromCart","localisation":"panier","product_remove_from_cart":{"product_category_level_1":"Beaut\u00e9
                            &amp;
                            Hygi\u00e8ne","product_category_level_2":"Soins
                            corps","product_category_level_3":"Soins
                            r\u00e9parateurs","product_id":"ONATERA-REPAIR-HUILE-DE-MASSAGE-A-L-ARNICA-BIO","product_name":"Huile
                            de Massage \u00e0 l'Arnica Bio - 200
                            ml","product_brand":"Onatera
                            Repair","product_marketing_label":["Certifi\u00e9
                            Bio","100% naturel","Cr\u00e9\u00e9 chez
                            nous en Provence","Pack en verre
                            recyclable"],"product_client_notation":4.6061,"product_client_notation_number":33,"product_price":12.9,"product_is_in_stock":true,"product_sku":"20567","quantity":1}}</span>
                    </analytics-datalayer>

                    <input type="hidden"
                        name="sylius_add_to_cart[cartItem][variant]"
                        value="20567"
                        data-target="cart-quantity-widget.variantInput">

                    <input type="number"
                        data-qa="select_quantity_input"
                        aria-label="Quantité"
                        data-target="cart-quantity-widget.input sync-inputs.inputTo"
                        class="w-full text-base text-center rounded-lg border-transparent ring-1 ring-gray-300 appearance-none focus:outline-none focus:ring-0 focus:border-gray-700"
                        name="sylius_add_to_cart[cartItem][quantity]"
                        value="1" min="1"
                        id="quantity-selector-input-1002844385"
                        readonly=""
                        data-sync-inputs-context="addToCart">

                    <analytics-datalayer
                        data-datalayer-type="AddToCartDataLayer"
                        data-catalyst="" data-variant-quantity-id=""
                        data-product-position="">
                        <button type="button"
                            data-qa="select_quantity_increment"
                            data-target="cart-quantity-widget.incrementButton"
                            data-action="click:cart-quantity-widget#increment click:update-cart-quantity#increment click:analytics-datalayer#push"
                            class="flex absolute inset-y-0 right-0 justify-end items-center w-1/3 disabled:cursor-default disabled:opacity-40"
                            aria-label="Ajouter"
                            data-max-value="897">
                            <svg xmlns="http://www.w3.org/2000/svg"
                                class="mr-4 h-3 w-3"
                                viewBox="0 0 20 20"
                                fill="currentColor">
                                <path fill-rule="evenodd"
                                    d="M10 3a1 1 0 011 1v5h5a1 1 0 110 2h-5v5a1 1 0 11-2 0v-5H4a1 1 0 110-2h5V4a1 1 0 011-1z"
                                    clip-rule="evenodd"></path>
                            </svg>
                        </button>


                        <span class="hidden"
                            data-target="analytics-datalayer.datalayer">{"event":"addToCart","list":"panier","product_add_to_cart":{"product_category_level_1":"Beaut\u00e9
                            &amp;
                            Hygi\u00e8ne","product_category_level_2":"Soins
                            corps","product_category_level_3":"Soins
                            r\u00e9parateurs","product_id":"ONATERA-REPAIR-HUILE-DE-MASSAGE-A-L-ARNICA-BIO","product_name":"Huile
                            de Massage \u00e0 l'Arnica Bio - 200
                            ml","product_brand":"Onatera
                            Repair","product_marketing_label":["Certifi\u00e9
                            Bio","100% naturel","Cr\u00e9\u00e9 chez
                            nous en Provence","Pack en verre
                            recyclable"],"product_client_notation":4.6061,"product_client_notation_number":33,"product_price":12.9,"product_is_in_stock":true,"product_sku":"20567","quantity":1}}</span>
                    </analytics-datalayer>
                </cart-quantity-widget>
            </update-cart-quantity>

            <div class="text-right">



                <p class="text-right font-bold pl-2"
                    data-qa="responsive_product_sub_price">
                    12,90&nbsp;€</p>



            </div>
        </div>
    </div>
</div>


</div>