<div class="flex justify-between items-end xl:px-0">
    <div
        class="flex-1 px-4 pt-8 text-gray-600 sm:px-11 sm:pt-10 xl:pt-16 xl:px-0 generated">
        Les huiles végétales sont un des piliers de la naturopathie.
        Obtenues par pressage de plantes ou de graines, ce sont de
        véritables produits polyvalents. Elles peuvent être
        utilisées pour un usage alimentaire, pour la formulation de
        soins cosmétiques, de produits d’hygiène ou encore pour
        servir de support d’aromathérapie.Adaptées à tous les usages
        et pour tous les profils - enfants, hommes et femmes - notre
        gamme d’huiles végétales finement choisies vous permettra
        d’élaborer une routine beauté 100 % naturelle, et de prendre
        soin de votre corps de l’intérieur comme de l’extérieur.
        Découvrez notamment, les flacons d’huile végétale de jojoba,
        d’amande douce et de ricin de Cosmesana, les beurres de
        karité en pot ou encore les bouteilles d’huile en format
        familial… et économique !
    </div>
</div>