<!DOCTYPE html>
<!-- saved from url=(0170)https://www.onatera.com/FR/fr/aromatherapie/toutes-nos-huiles-vegetales?gclid=Cj0KCQiAiJSeBhCCARIsAHnAzT84pxVK70kG84yUH_EF6YmdoDIl57CY0m-2tILGNnMbFUKiuvuER-0aAtzREALw_wcB -->
<html lang="fr" class="scroll-smooth">

    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        
        <title>Aromathérapie - Toutes nos huiles végétales - Onatera.com</title>


        <meta content="width=device-width, initial-scale=1, maximum-scale=5" name="viewport">
        <meta name="description"
            content="Découvrez les 49 produits de la catégorie Toutes nos huiles végétales, à partir de 2,30 €, livré en 24/48h, paiement sécurisé sur Onatera.com">
            <meta name="msapplication-config" content="browserconfig.xml">
            <meta name="msapplication-TileColor" content="#ffffff">
            <meta name="theme-color" content="#ffffff">
            <meta name="og:title" content="Aromathérapie - Toutes nos huiles végétales - Onatera.com">
            <meta name="og:description"
                content="Découvrez les 49 produits de la catégorie Toutes nos huiles végétales, à partir de 2,30 €, livré en 24/48h, paiement sécurisé sur Onatera.com">
        <!-- <meta http-equiv="X-UA-Compatible" content="IE=edge">


        <meta name="og:url" content="https://www.onatera.com/FR/fr/aromatherapie/toutes-nos-huiles-vegetales">
        <meta name="og:site_name" content="www.onatera.com">
        <meta name="og:image" content="https://media.onatera.com/cache/category_index/category/62c42914da0f3780974027.jpg"> -->

        <!-- <link rel="alternate" href="https://www.onatera.com/FR/fr/aromatherapie/toutes-nos-huiles-vegetales"
            hreflang="fr-FR"> -->

        <!-- <link rel="canonical" href="https://www.onatera.com/FR/fr/aromatherapie/toutes-nos-huiles-vegetales">

        <link rel="icon" type="image/svg+xml" href="https://cdn.onatera.com/build/shop/images/favicon/favicon.db16cc3b.svg"> -->
    
        <link rel="stylesheet"
            href="./static/shop-entry.694756bc.css">

    
    </head>

    <body class="antialiased pushable" cz-shortcut-listen="true">

        <div class="pusher">
            <%-include("partials/header")%>
            <!-- end header -->
            <!-- banner promo -->
            <%-include("partials/banner")%>
            <!-- banner promo -->
            <!-- shop component -->
            <%-include("partials/shop", {listProduct: productPage.listProduct, pagination: productPage.pagination})%>
            <!-- footer_component -->
            <%-include("partials/footer")%>

        </div>
        <script src="/javascripts/index.js"></script>
    </body>

</html>