<div class="mt-6 xl:mt-8">

    <div class="flex justify-center text-gray-800 ">
        <ul class="flex flex-wrap items-center"
            data-qa="paginationContainer"
            gtm-tracking="true" gtm-event="pageCourante"
            gtm-data="1">
            <li
                class="mr-2 md:mr-10 rounded-full overflow-hidden hidden hover:bg-gray-100">
                <a class="px-4 py-2 flex items-center"
                    data-insights-user-token="anonymous_42be4edaf5cf376715c07f2e7c120238"
                    data-insights-query-id=""
                    href="https://www.onatera.com/FR/fr/aromatherapie/toutes-nos-huiles-vegetales"
                    data-qa="responsive_previousPageOrder"
                    aria-label="Précédent">
                    <svg xmlns="http://www.w3.org/2000/svg"
                        class="h-4 w-4 mr-1" fill="none"
                        viewBox="0 0 24 24"
                        stroke="currentColor">
                        <path stroke-linecap="round"
                            stroke-linejoin="round"
                            stroke-width="2"
                            d="M15 19l-7-7 7-7"></path>
                    </svg>
                    <span
                        class="hidden sm:inline">Précédent</span>
                </a>
            </li>

            <li class="mx-0.5 h-10 w-10 flex justify-center items-center rounded-full bg-brand-50 text-brand-600 font-semibold"
                data-qa="currentPage">1</li>
            <li
                class="mx-0.5 rounded-full hover:bg-gray-100">
                <a href="https://www.onatera.com/FR/fr/aromatherapie/toutes-nos-huiles-vegetales?page=2"
                    data-insights-user-token="anonymous_42be4edaf5cf376715c07f2e7c120238"
                    data-insights-query-id=""
                    data-insights-page-number="2"
                    class="h-10 w-10 flex justify-center items-center"
                    data-qa="nextPage">2</a>
            </li>
            <li
                class="mx-0.5 rounded-full hover:bg-gray-100">
                <a href="https://www.onatera.com/FR/fr/aromatherapie/toutes-nos-huiles-vegetales?page=3"
                    data-insights-user-token="anonymous_42be4edaf5cf376715c07f2e7c120238"
                    data-insights-query-id=""
                    data-insights-page-number="3"
                    class="h-10 w-10 flex justify-center items-center"
                    data-qa="nextPage">3</a>
            </li>
            <li
                class="ml-2 md:ml-10 rounded-full overflow-hidden  hover:bg-gray-100">
                <a class="px-4 py-2 flex items-center"
                    data-insights-user-token="anonymous_42be4edaf5cf376715c07f2e7c120238"
                    data-insights-query-id=""
                    href="https://www.onatera.com/FR/fr/aromatherapie/toutes-nos-huiles-vegetales?page=2"
                    data-qa="responsive_nextPageOrder"
                    aria-label="Suivant">
                    <span
                        class="hidden sm:inline">Suivant</span>
                    <svg xmlns="http://www.w3.org/2000/svg"
                        class="h-4 w-4 ml-1" fill="none"
                        viewBox="0 0 24 24"
                        stroke="currentColor">
                        <path stroke-linecap="round"
                            stroke-linejoin="round"
                            stroke-width="2"
                            d="M9 5l7 7-7 7"></path>
                    </svg>
                </a>
            </li>
        </ul>
    </div>
</div>