<footer>
    <div class="bg-gray-50 border-t border-gray-300">
        <div
            class="flex flex-wrap justify-center pt-3 pb-3 text-sm text-gray-600 xl:container xl:mx-auto xl:px-5 2xl:px-10">
            <a href="https://www.onatera.com/FR/fr/info/livraisons"
                class="flex flex-col items-center py-3 px-2 w-1/2 text-center lg:w-1/4 xl:w-1/5 last:hidden xl:last:flex"
                data-qa="footerContentBlockContainer">
                <svg class="fill-current h-8 w-8 mb-2 xl:mb-4 text-brand-100" id="Icon_Temps"
                    data-name="Icon / Temps" xmlns="http://www.w3.org/2000/svg" width="32" height="32">
                    <path id="Tracé_7820" data-name="Tracé 7820"
                        d="M8.61.171c6.364 3.5 8.61 3.855 8.61 8.61a8.61 8.61 0 0 1-17.22 0C0 4.026 2.247-3.328 8.61.171z"
                        transform="translate(12.766 5.033)"></path>
                    <g id="Ellipse_39" data-name="Ellipse 39" class="text-gray-600 stroke-current"
                        style="fill:none" transform="translate(10 8)">
                        <circle cx="9" cy="9" r="9" style="stroke:none"></circle>
                        <circle style="fill:none" cx="9" cy="9" r="8.5"></circle>
                    </g>
                    <path id="Tracé_7795" data-name="Tracé 7795" class="text-gray-600 stroke-current"
                        style="stroke-linejoin:round;stroke-linecap:round;fill:none"
                        d="M-4753.347-6232.491v3.453h3.511" transform="translate(4772.212 6246.038)"></path>
                    <path id="Tracé_8036" data-name="Tracé 8036" class="text-gray-600 stroke-current"
                        style="fill:none;stroke-linecap:round" d="M-4773.359-6233.128h4.77"
                        transform="translate(4776.901 6245.486)"></path>
                    <path id="Tracé_8037" data-name="Tracé 8037" class="text-gray-600 stroke-current"
                        style="fill:none;stroke-linecap:round" d="M-4773.358-6233.128h5.494"
                        transform="translate(4774.661 6249.273)"></path>
                    <path id="Tracé_8038" data-name="Tracé 8038" class="text-gray-600 stroke-current"
                        style="fill:none;stroke-linecap:round" d="M-4773.358-6233.128h4.771"
                        transform="translate(4776.9 6253.061)"></path>
                </svg>
                <p class="m-0 font-bold leading-tight xl:leading-normal" data-qa="footerContentBlockTitle">
                    Livraison offerte</p>
                <p class="m-0 leading-tight xl:leading-normal">Dès 35€ d'achat</p>
                <p class="mt-4 underline" data-qa="footerContentBlockLink">
                    En savoir plus
                </p>
            </a>
            <a href="https://www.onatera.com/FR/fr/info/avantages"
                class="flex flex-col items-center py-3 px-2 w-1/2 text-center lg:w-1/4 xl:w-1/5 last:hidden xl:last:flex"
                data-qa="footerContentBlockContainer">
                <svg class="fill-current h-8 w-8 mb-2 xl:mb-4 text-brand-100" id="Icon_Marque_Onatera"
                    data-name="Icon / Marque Onatera" xmlns="http://www.w3.org/2000/svg" width="32"
                    height="32" viewBox="0 0 32 32">
                    <path id="Tracé_8935" data-name="Tracé 8935" class="fill-current"
                        d="M9.5.265c7.019 3.859 9.5 4.252 9.5 9.5a9.5 9.5 0 1 1-19-.004C0 4.516 2.478-3.594 9.5.265z"
                        transform="translate(13 2.688)"></path>
                    <g id="Calque_3" data-name="Calque 3" transform="translate(33.004 7)">
                        <path id="Tracé_7751" data-name="Tracé 7751" class="text-gray-600 stroke-current"
                            style="fill:none;stroke-linecap:round;stroke-linejoin:round"
                            d="M1040-231.151c-3.128 1.227-4.734-2.41-4.734-2.41s4.057-.719 4.734 2.41"
                            transform="translate(-1058.175 235.566)"></path>
                        <path id="Tracé_7752" data-name="Tracé 7752" class="text-gray-600 stroke-current"
                            style="fill:none;stroke-linecap:round;stroke-linejoin:round"
                            d="M1064.935-262.858c3.678-3.086 0-7.444 0-7.444s-3.677 4.565 0 7.444"
                            transform="translate(-1081.672 266.302)"></path>
                    </g>
                    <path id="Tracé_8416" data-name="Tracé 8416" class="text-gray-600 stroke-current"
                        style="fill:none;stroke-linecap:round;stroke-linejoin:round"
                        d="M-7479.923-7860.688a2.833 2.833 0 0 0-.78.867c-2.241 3.425-.9 10.727-.9 10.727"
                        transform="translate(7496.001 7876.973)"></path>
                    <path id="Tracé_8415" data-name="Tracé 8415" class="text-gray-600 stroke-current"
                        style="fill:none;stroke-linecap:round;stroke-linejoin:round"
                        d="M-7482-7862.645s6.828-.6 9.069 2.823.9 10.727.9 10.727"
                        transform="translate(7490.001 7876.973)"></path>
                    <path id="Tracé_8418" data-name="Tracé 8418" class="text-gray-600 stroke-current"
                        style="fill:none;stroke-linecap:round;stroke-linejoin:round"
                        d="M-7471.634-7862.645a18.576 18.576 0 0 0-5.151.408"
                        transform="translate(7494.687 7876.973)"></path>
                    <path id="Rectangle_1390" data-name="Rectangle 1390" style="fill:none"
                        d="M0 0h32v32H0z"></path>
                </svg>
                <p class="m-0 font-bold leading-tight xl:leading-normal" data-qa="footerContentBlockTitle">
                    Programme de fidélité</p>
                <p class="m-0 leading-tight xl:leading-normal">Jusqu'à 45€ de remise</p>
                <p class="mt-4 underline" data-qa="footerContentBlockLink">
                    Découvrir
                </p>
            </a>
            <a href="https://www.onatera.com/FR/fr/info/experts"
                class="flex flex-col items-center py-3 px-2 w-1/2 text-center lg:w-1/4 xl:w-1/5 last:hidden xl:last:flex"
                data-qa="footerContentBlockContainer">
                <svg class="fill-current h-8 w-8 mb-2 xl:mb-4 text-brand-100" data-name="Icon / Discussion"
                    xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 32 32">
                    <path data-name="Tracé 8956"
                        d="M9.5.265c7.019 3.859 9.5 4.252 9.5 9.5a9.5 9.5 0 1 1-19-.004C0 4.516 2.478-3.594 9.5.265z"
                        transform="translate(13 2.688)"></path>
                    <path data-name="Rectangle 364" style="fill:none" d="M0 0h32v32H0z"></path>
                    <g data-name="Groupe 6429">
                        <path class="text-gray-600 stroke-current" fill="#4b5563" data-name="Tracé 7808"
                            d="M-2.663.4a.81.81 0 0 1-.6-.258.869.869 0 0 1-.25-.628.842.842 0 0 1 .25-.62.823.823 0 0 1 .6-.25.85.85 0 0 1 .612.25.829.829 0 0 1 .258.62.855.855 0 0 1-.258.628.836.836 0 0 1-.612.258zm3.5 0a.81.81 0 0 1-.6-.258.869.869 0 0 1-.25-.628.842.842 0 0 1 .25-.62.823.823 0 0 1 .6-.25.85.85 0 0 1 .612.25.829.829 0 0 1 .258.62.855.855 0 0 1-.258.628A.836.836 0 0 1 .833.4zm3.507 0a.81.81 0 0 1-.6-.258.869.869 0 0 1-.25-.628.842.842 0 0 1 .25-.62.823.823 0 0 1 .6-.25.85.85 0 0 1 .612.25.829.829 0 0 1 .258.62.855.855 0 0 1-.258.628.836.836 0 0 1-.612.258z"
                            transform="translate(15.651 14.568)" style="stroke-width:.2px"></path>
                        <path class="text-gray-600 stroke-current" data-name="Union 3"
                            d="M12.065 16.417H5.933a4 4 0 0 1-4-4V3.9a4 4 0 0 1 4-4h11a4 4 0 0 1 4 4v8.522a4 4 0 0 1-4 4h-1.267a12.05 12.05 0 0 0-.121 3.422z"
                            transform="translate(5.067 6.105)"
                            style="stroke-linecap:round;stroke-linejoin:round;fill:none"></path>
                    </g>
                </svg>
                <p class="m-0 font-bold leading-tight xl:leading-normal" data-qa="footerContentBlockTitle">
                    Des conseils d'experts</p>
                <p class="m-0 leading-tight xl:leading-normal">gratuits et sur-mesure</p>
                <p class="mt-4 underline" data-qa="footerContentBlockLink">
                    Découvrir
                </p>
            </a>
            <a href="https://www.onatera.com/FR/fr/info/cgv#paiement"
                class="flex flex-col items-center py-3 px-2 w-1/2 text-center lg:w-1/4 xl:w-1/5 last:hidden xl:last:flex"
                data-qa="footerContentBlockContainer">
                <svg class="fill-current h-8 w-8 mb-2 xl:mb-4 text-brand-100" id="Icon_Securite"
                    data-name="Icon / Securite" xmlns="http://www.w3.org/2000/svg" width="32" height="32"
                    viewBox="0 0 32 32">
                    <path id="Tracé_8957" data-name="Tracé 8957" class="fill-current"
                        d="M9.5.265c7.019 3.859 9.5 4.252 9.5 9.5a9.5 9.5 0 1 1-19-.004C0 4.516 2.478-3.594 9.5.265z"
                        transform="translate(13 2.688)"></path>
                    <path id="Rectangle_365" data-name="Rectangle 365" style="fill:none" d="M0 0h32v32H0z">
                    </path>
                    <g id="Groupe_721" data-name="Groupe 721" transform="translate(8 138.74)">
                        <g id="Groupe_610" data-name="Groupe 610" transform="translate(0 -127.575)">
                            <g id="Tracé_7800" data-name="Tracé 7800" style="fill:none">
                                <path d="M0 0h15.777v15.777H0z" style="stroke:none"></path>
                                <path class="text-gray-600 fill-current" style="stroke:none"
                                    d="M1 1v13.777h13.777V1H1M0 0h15.777v15.777H0V0z"></path>
                            </g>
                        </g>
                        <path id="Tracé_7802" data-name="Tracé 7802" class="text-gray-600 stroke-current"
                            style="fill:none"
                            d="M0 6.165V3.083C0 1.38 1.926 0 4.3 0h.9c2.376 0 4.3 1.38 4.3 3.083v3.082"
                            transform="translate(3.406 -133.74)"></path>
                        <path id="Union_2" data-name="Union 2" class="text-gray-600 stroke-current"
                            style="fill:none"
                            d="M.906 5.189V3.708a.952.952 0 0 1 .027-.225A1.864 1.864 0 0 1 0 1.857 1.832 1.832 0 0 1 1.806 0a1.832 1.832 0 0 1 1.806 1.857 1.864 1.864 0 0 1-.933 1.625.954.954 0 0 1 .027.225v1.482a.913.913 0 0 1-.9.926.914.914 0 0 1-.9-.926z"
                            transform="translate(6.082 -122.545)"></path>
                    </g>
                </svg>
                <p class="m-0 font-bold leading-tight xl:leading-normal" data-qa="footerContentBlockTitle">
                    Paiement</p>
                <p class="m-0 leading-tight xl:leading-normal">Sécurisé</p>
                <p class="mt-4 underline" data-qa="footerContentBlockLink">
                    En savoir plus
                </p>
            </a>
            <a href="https://onatera.buybox.net/"
                class="flex flex-col items-center py-3 px-2 w-1/2 text-center lg:w-1/4 xl:w-1/5 last:hidden xl:last:flex"
                data-qa="footerContentBlockContainer">
                <svg class="fill-current h-8 w-8 mb-2 xl:mb-4 text-brand-100" id="Icon_-_Cadeau"
                    data-name="Icon - Cadeau" xmlns="http://www.w3.org/2000/svg" width="32" height="32"
                    viewBox="0 0 32 32">
                    <path id="Rectangle_370" data-name="Rectangle 370" style="fill:none" d="M0 0h32v32H0z">
                    </path>
                    <g id="Groupe_1035" data-name="Groupe 1035" transform="translate(-6 -2.835)">
                        <path id="Tracé_8940" data-name="Tracé 8940" class="fill-current"
                            d="M9.5.265c7.019 3.859 9.5 4.252 9.5 9.5a9.5 9.5 0 1 1-19-.004C0 4.516 2.478-3.594 9.5.265z"
                            transform="translate(19 5.523)"></path>
                        <g id="Rectangle_460" data-name="Rectangle 460" class="text-gray-600 stroke-current"
                            style="fill:none;stroke-linejoin:round;stroke-linecap:round">
                            <path style="stroke:none" d="M0 0h17.466v4.9H0z"
                                transform="translate(13 14.096)"></path>
                            <path style="fill:none" d="M.5.5h16.466v3.9H.5z"
                                transform="translate(13 14.096)"></path>
                        </g>
                        <g id="Rectangle_469" data-name="Rectangle 469" class="text-gray-600 stroke-current"
                            style="fill:none;stroke-linejoin:round;stroke-linecap:round">
                            <path style="stroke:none" d="M0 0h15.81v12H0z" transform="translate(13.828 18)">
                            </path>
                            <path style="fill:none" d="M.5.5h14.81v11H.5z" transform="translate(13.828 18)">
                            </path>
                        </g>
                        <g id="Tracé_8228" data-name="Tracé 8228" style="fill:none">
                            <path style="stroke:none"
                                d="M2.911 0c1.608 0 2.911 3.488 2.911 5.1A2.911 2.911 0 0 1 0 5.1C0 3.488 1.3 0 2.911 0z"
                                transform="rotate(-150 14.64 4.748)"></path>
                            <path class="text-gray-600 fill-current" style="stroke:none"
                                d="M2.911 1c-.157 0-.647.339-1.16 1.386C1.257 3.389 1 4.508 1 5.096c0 1.053.857 1.91 1.911 1.91a1.913 1.913 0 0 0 1.911-1.91c0-.588-.258-1.707-.75-2.71C3.558 1.339 3.068 1 2.91 1m0-1c1.608 0 2.911 3.488 2.911 5.095a2.911 2.911 0 0 1-5.822 0C0 3.488 1.303 0 2.911 0z"
                                transform="rotate(-150 14.64 4.748)"></path>
                        </g>
                        <g id="Tracé_8229" data-name="Tracé 8229" style="fill:none">
                            <path style="stroke:none"
                                d="M2.911 8.007c1.608 0 2.911-3.488 2.911-5.1A2.911 2.911 0 1 0 0 2.911c0 1.608 1.3 5.096 2.911 5.096z"
                                transform="rotate(-30 24.877 -23.828)"></path>
                            <path class="text-gray-600 fill-current" style="stroke:none"
                                d="M2.91 7.007c.157 0 .647-.34 1.161-1.386.493-1.003.75-2.123.75-2.71 0-.51-.198-.99-.559-1.351-.36-.361-.84-.56-1.35-.56A1.913 1.913 0 0 0 1 2.911c0 .588.258 1.707.75 2.71.514 1.047 1.004 1.386 1.16 1.386m0 1C1.304 8.007 0 4.519 0 2.91a2.911 2.911 0 0 1 5.822 0c0 1.608-1.304 5.095-2.911 5.096z"
                                transform="rotate(-30 24.877 -23.828)"></path>
                        </g>
                        <g id="Tracé_8632" data-name="Tracé 8632" style="stroke-linecap:round;fill:none">
                            <path style="stroke:none" d="M0 0h15.81v.981H0z"
                                transform="rotate(90 4.087 18.184)"></path>
                            <path class="text-gray-600 fill-current" style="stroke:none"
                                d="M0 0h15.81v.981H0V0z" transform="rotate(90 4.087 18.184)"></path>
                        </g>
                    </g>
                </svg>
                <p class="m-0 font-bold leading-tight xl:leading-normal" data-qa="footerContentBlockTitle">
                    Carte cadeau</p>
                <p class="m-0 leading-tight xl:leading-normal">Dès 15€</p>
                <p class="mt-4 underline" data-qa="footerContentBlockLink">
                    Découvrir
                </p>
            </a>
        </div>
    </div>
    <div class="text-gray-600 xl:container xl:mx-auto xl:px-5 2xl:px-10">
        <div class="flex px-4 mt-4 mb-4 lg:mt-10 lg:mb-6 lg:px-10 xl:px-0 xl:relative">
            <div class="flex flex-col w-full xl:w-3/4">
                <div class="flex flex-col mb-4 sm:mb-10 lg:flex-row">
                    <div class="mb-4 lg:mb-0 lg:w-1/3">
                        <div class="hidden lg:block">
                            <p class="m-0 font-bold">Besoin d'un conseil ?</p>
                            <p class="mb-3 text-sm">Contactez notre service clients</p>
                            <a href="https://www.onatera.com/FR/fr/contact" target=""
                                class="h-8 flex items-center text-sm xl:hover:text-gray-500 mb-2"
                                data-qa="&quot;footerEmailContact&quot;">
                                <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4 mr-2" fill="none"
                                    viewBox="0 0 24 24" stroke="currentColor">
                                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                        d="M9 5l7 7-7 7"></path>
                                </svg>

                                <span>Par e-mail</span>

                            </a>
                            <a href="tel:0465260060" target=""
                                class="h-8 flex items-center text-sm xl:hover:text-gray-500 "
                                data-qa="&quot;footerPhoneContact&quot;">
                                <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4 mr-2" fill="none"
                                    viewBox="0 0 24 24" stroke="currentColor">
                                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                        d="M9 5l7 7-7 7"></path>
                                </svg>

                                <span>Par téléphone</span>

                            </a>
                        </div>
                      
                            <button class="flex justify-between items-center w-full"
                                data-action="click:footer-dropdown#doToggle">
                                <span class="m-0 font-bold">Besoin d'un conseil ?</span>
                                <div class="transition duration-500 ease-in-out"
                                    data-target="footer-dropdown.icon">
                                    <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4" fill="none"
                                        viewBox="0 0 24 24" stroke="currentColor">
                                        <path stroke-linecap="round" stroke-linejoin="round"
                                            stroke-width="2" d="M19 9l-7 7-7-7"></path>
                                    </svg>
                                </div>
                            </button>

                            <div class="overflow-hidden max-h-0 opacity-0 duration-500 ease-in-out transition-height"
                                data-target="footer-dropdown.container">
                                <p class="mb-3 text-sm">Contactez notre service clients</p>
                                <a href="https://www.onatera.com/FR/fr/contact" target=""
                                    class="h-8 flex items-center text-sm xl:hover:text-gray-500 mb-2">
                                    <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4 mr-2" fill="none"
                                        viewBox="0 0 24 24" stroke="currentColor">
                                        <path stroke-linecap="round" stroke-linejoin="round"
                                            stroke-width="2" d="M9 5l7 7-7 7"></path>
                                    </svg>

                                    <span>Par e-mail</span>

                                </a>
                                <a href="tel:0465260060" target=""
                                    class="h-8 flex items-center text-sm xl:hover:text-gray-500 ">
                                    <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4 mr-2" fill="none"
                                        viewBox="0 0 24 24" stroke="currentColor">
                                        <path stroke-linecap="round" stroke-linejoin="round"
                                            stroke-width="2" d="M9 5l7 7-7 7"></path>
                                    </svg>

                                    <span>Par téléphone</span>

                                </a>
                            </div>
                  
                    </div>

                    <div class="mb-4 lg:mb-0 lg:w-1/3">
                        <div class="hidden lg:block">
                            <p class="m-0 font-bold">À propos d'Onatera</p>
                            <p class="mb-3 text-sm">Retrouvez toutes les informations</p>

                            <a href="https://www.onatera.com/FR/fr/info/qui-sommes-nous" target=""
                                class="h-8 flex items-center text-sm xl:hover:text-gray-500 mb-2">
                                <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4 mr-2" fill="none"
                                    viewBox="0 0 24 24" stroke="currentColor">
                                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                        d="M9 5l7 7-7 7"></path>
                                </svg>

                                <span>Qui sommes-nous ?</span>

                            </a>
                            <a href="https://www.onatera.com/FR/fr/info/boutiques" target=""
                                class="h-8 flex items-center text-sm xl:hover:text-gray-500 ">
                                <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4 mr-2" fill="none"
                                    viewBox="0 0 24 24" stroke="currentColor">
                                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                        d="M9 5l7 7-7 7"></path>
                                </svg>

                                <span>La boutique Onatera</span>

                            </a>
                        </div>
                       
                            <button class="flex justify-between items-center w-full"
                                data-action="click:footer-dropdown#doToggle">
                                <span class="m-0 font-bold">À propos d'Onatera</span>
                                <div class="transition duration-500 ease-in-out"
                                    data-target="footer-dropdown.icon">
                                    <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4" fill="none"
                                        viewBox="0 0 24 24" stroke="currentColor">
                                        <path stroke-linecap="round" stroke-linejoin="round"
                                            stroke-width="2" d="M19 9l-7 7-7-7"></path>
                                    </svg>
                                </div>
                            </button>

                            <div class="overflow-hidden max-h-0 opacity-0 duration-500 ease-in-out transition-height"
                                data-target="footer-dropdown.container">
                                <p class="mb-3 text-sm">Retrouvez toutes les informations</p>
                                <a href="https://www.onatera.com/FR/fr/info/qui-sommes-nous" target=""
                                    class="h-8 flex items-center text-sm xl:hover:text-gray-500 mb-2"
                                    data-qa="&quot;footerLnkAboutOnatera&quot;">
                                    <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4 mr-2" fill="none"
                                        viewBox="0 0 24 24" stroke="currentColor">
                                        <path stroke-linecap="round" stroke-linejoin="round"
                                            stroke-width="2" d="M9 5l7 7-7 7"></path>
                                    </svg>

                                    <span>Qui sommes-nous ?</span>

                                </a>
                                <a href="https://www.onatera.com/FR/fr/info/boutiques" target=""
                                    class="h-8 flex items-center text-sm xl:hover:text-gray-500 "
                                    data-qa="&quot;footerLnkShop&quot;">
                                    <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4 mr-2" fill="none"
                                        viewBox="0 0 24 24" stroke="currentColor">
                                        <path stroke-linecap="round" stroke-linejoin="round"
                                            stroke-width="2" d="M9 5l7 7-7 7"></path>
                                    </svg>

                                    <span>La boutique Onatera</span>

                                </a>
                            </div>
                       
                    </div>

                    <div class="lg:w-1/3">
                        <div class="hidden lg:block">
                            <p class="m-0 font-bold">Nos réseaux sociaux</p>
                            <p class="mb-3 text-sm">Nos actus en temps réels</p>

                            <a href="https://www.facebook.com/Onateracom" target="_blank"
                                class="h-8 flex items-center text-sm xl:hover:text-gray-500 mb-2">
                                <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4 mr-2" fill="none"
                                    viewBox="0 0 24 24" stroke="currentColor">
                                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                        d="M9 5l7 7-7 7"></path>
                                </svg>

                                <span>Facebook</span>

                                <span class="ml-2"> <svg class="fill-current h-8 w-8 text-brand-100"
                                        id="Icon_Facebook" data-name="Icon / Facebook"
                                        xmlns="http://www.w3.org/2000/svg" width="32" height="32"
                                        viewBox="0 0 32 32">
                                        <path id="Tracé_8943" data-name="Tracé 8943"
                                            d="M9.5.265c7.019 3.859 9.5 4.252 9.5 9.5a9.5 9.5 0 1 1-19-.004C0 4.516 2.478-3.594 9.5.265z"
                                            transform="translate(13 2.688)"></path>
                                        <path id="Rectangle_1376" data-name="Rectangle 1376"
                                            style="fill:none" d="M0 0h32v32H0z"></path>
                                        <path id="Rectangle_1658" data-name="Rectangle 1658"
                                            class="text-gray-600 fill-current"
                                            d="M6-.5h8A6.507 6.507 0 0 1 20.5 6v8a6.507 6.507 0 0 1-6.5 6.5H6A6.507 6.507 0 0 1-.5 14V6A6.507 6.507 0 0 1 6-.5zm8 20a5.506 5.506 0 0 0 5.5-5.5V6A5.506 5.506 0 0 0 14 .5H6A5.506 5.506 0 0 0 .5 6v8A5.506 5.506 0 0 0 6 19.5z"
                                            transform="translate(6.5 6.5)"></path>
                                        <path id="Tracé_8991" data-name="Tracé 8991"
                                            class="text-gray-600 fill-current"
                                            d="M6133.98 1791.848h-1c0-.081.01-8.084 0-10.15a1.737 1.737 0 0 1 .637-1.413c1.1-.885 3.216-.448 3.454-.4l-.216.976.108-.488-.108.488a3.853 3.853 0 0 0-2.611.2.729.729 0 0 0-.264.63c.01 2.07 0 10.077 0 10.157z"
                                            transform="translate(-6117.647 -1769.059)"></path>
                                        <path id="Tracé_8992" data-name="Tracé 8992"
                                            class="text-gray-600 fill-current"
                                            d="M6136.772 1783.721h-4.864v-1h4.864z"
                                            transform="translate(-6118.224 -1767.966)"></path>
                                    </svg>
                                </span>
                            </a>
                            <a href="https://www.instagram.com/onatera_com" target="_blank"
                                class="h-8 flex items-center text-sm xl:hover:text-gray-500 ">
                                <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4 mr-2" fill="none"
                                    viewBox="0 0 24 24" stroke="currentColor">
                                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                        d="M9 5l7 7-7 7"></path>
                                </svg>

                                <span>Instagram</span>

                                <span class="ml-2"> <svg class="fill-current h-8 w-8 text-brand-100"
                                        id="Icon_Instagram" data-name="Icon / Instagram"
                                        xmlns="http://www.w3.org/2000/svg" width="32" height="32"
                                        viewBox="0 0 32 32">
                                        <path id="Tracé_8943" data-name="Tracé 8943"
                                            d="M9.5.265c7.019 3.859 9.5 4.252 9.5 9.5a9.5 9.5 0 1 1-19-.004C0 4.516 2.478-3.594 9.5.265z"
                                            transform="translate(13 2.688)"></path>
                                        <path id="Rectangle_1376" data-name="Rectangle 1376"
                                            style="fill:none" d="M0 0h32v32H0z"></path>
                                        <path id="Rectangle_1658" data-name="Rectangle 1658"
                                            class="text-gray-600 fill-current"
                                            d="M6-.5h8A6.507 6.507 0 0 1 20.5 6v8a6.507 6.507 0 0 1-6.5 6.5H6A6.507 6.507 0 0 1-.5 14V6A6.507 6.507 0 0 1 6-.5zm8 20a5.506 5.506 0 0 0 5.5-5.5V6A5.506 5.506 0 0 0 14 .5H6A5.506 5.506 0 0 0 .5 6v8A5.506 5.506 0 0 0 6 19.5z"
                                            transform="translate(6.5 6.5)"></path>
                                        <path id="Ellipse_114" data-name="Ellipse 114"
                                            class="text-gray-600 fill-current"
                                            d="M4.9-.5A5.4 5.4 0 1 1-.5 4.9 5.41 5.41 0 0 1 4.9-.5zm0 9.808A4.4 4.4 0 1 0 .5 4.9a4.409 4.409 0 0 0 4.4 4.408z"
                                            transform="translate(11.596 11.596)"></path>
                                        <circle id="Ellipse_115" data-name="Ellipse 115"
                                            class="text-gray-600 fill-current" cx=".75" cy=".75" r=".75"
                                            transform="translate(21.747 9.707)"></circle>
                                    </svg>
                                </span>
                            </a>
                        </div>
                    
                            <button class="flex justify-between items-center w-full"
                                data-action="click:footer-dropdown#doToggle">
                                <span class="m-0 font-bold">Nos réseaux sociaux</span>
                                <div class="transition duration-500 ease-in-out"
                                    data-target="footer-dropdown.icon">
                                    <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4" fill="none"
                                        viewBox="0 0 24 24" stroke="currentColor">
                                        <path stroke-linecap="round" stroke-linejoin="round"
                                            stroke-width="2" d="M19 9l-7 7-7-7"></path>
                                    </svg>
                                </div>
                            </button>

                            <div class="overflow-hidden max-h-0 opacity-0 duration-500 ease-in-out transition-height"
                                data-target="footer-dropdown.container">
                                <p class="mb-3 text-sm">Nos actus en temps réels</p>
                                <a href="https://www.facebook.com/Onateracom" target="_blank"
                                    class="h-8 flex items-center text-sm xl:hover:text-gray-500 mb-2"
                                    data-qa="&quot;socialMediaFacebook&quot;">
                                    <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4 mr-2" fill="none"
                                        viewBox="0 0 24 24" stroke="currentColor">
                                        <path stroke-linecap="round" stroke-linejoin="round"
                                            stroke-width="2" d="M9 5l7 7-7 7"></path>
                                    </svg>

                                    <span>Facebook</span>

                                    <span class="ml-2"> <svg class="fill-current h-8 w-8 text-brand-100"
                                            id="Icon_Facebook" data-name="Icon / Facebook"
                                            xmlns="http://www.w3.org/2000/svg" width="32" height="32"
                                            viewBox="0 0 32 32">
                                            <path id="Tracé_8943" data-name="Tracé 8943"
                                                d="M9.5.265c7.019 3.859 9.5 4.252 9.5 9.5a9.5 9.5 0 1 1-19-.004C0 4.516 2.478-3.594 9.5.265z"
                                                transform="translate(13 2.688)"></path>
                                            <path id="Rectangle_1376" data-name="Rectangle 1376"
                                                style="fill:none" d="M0 0h32v32H0z"></path>
                                            <path id="Rectangle_1658" data-name="Rectangle 1658"
                                                class="text-gray-600 fill-current"
                                                d="M6-.5h8A6.507 6.507 0 0 1 20.5 6v8a6.507 6.507 0 0 1-6.5 6.5H6A6.507 6.507 0 0 1-.5 14V6A6.507 6.507 0 0 1 6-.5zm8 20a5.506 5.506 0 0 0 5.5-5.5V6A5.506 5.506 0 0 0 14 .5H6A5.506 5.506 0 0 0 .5 6v8A5.506 5.506 0 0 0 6 19.5z"
                                                transform="translate(6.5 6.5)"></path>
                                            <path id="Tracé_8991" data-name="Tracé 8991"
                                                class="text-gray-600 fill-current"
                                                d="M6133.98 1791.848h-1c0-.081.01-8.084 0-10.15a1.737 1.737 0 0 1 .637-1.413c1.1-.885 3.216-.448 3.454-.4l-.216.976.108-.488-.108.488a3.853 3.853 0 0 0-2.611.2.729.729 0 0 0-.264.63c.01 2.07 0 10.077 0 10.157z"
                                                transform="translate(-6117.647 -1769.059)"></path>
                                            <path id="Tracé_8992" data-name="Tracé 8992"
                                                class="text-gray-600 fill-current"
                                                d="M6136.772 1783.721h-4.864v-1h4.864z"
                                                transform="translate(-6118.224 -1767.966)"></path>
                                        </svg>
                                    </span>
                                </a>
                                <a href="https://www.instagram.com/onatera_com" target="_blank"
                                    class="h-8 flex items-center text-sm xl:hover:text-gray-500 "
                                    data-qa="&quot;socialMediaInstagram&quot;">
                                    <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4 mr-2" fill="none"
                                        viewBox="0 0 24 24" stroke="currentColor">
                                        <path stroke-linecap="round" stroke-linejoin="round"
                                            stroke-width="2" d="M9 5l7 7-7 7"></path>
                                    </svg>

                                    <span>Instagram</span>

                                    <span class="ml-2"> <svg class="fill-current h-8 w-8 text-brand-100"
                                            id="Icon_Instagram" data-name="Icon / Instagram"
                                            xmlns="http://www.w3.org/2000/svg" width="32" height="32"
                                            viewBox="0 0 32 32">
                                            <path id="Tracé_8943" data-name="Tracé 8943"
                                                d="M9.5.265c7.019 3.859 9.5 4.252 9.5 9.5a9.5 9.5 0 1 1-19-.004C0 4.516 2.478-3.594 9.5.265z"
                                                transform="translate(13 2.688)"></path>
                                            <path id="Rectangle_1376" data-name="Rectangle 1376"
                                                style="fill:none" d="M0 0h32v32H0z"></path>
                                            <path id="Rectangle_1658" data-name="Rectangle 1658"
                                                class="text-gray-600 fill-current"
                                                d="M6-.5h8A6.507 6.507 0 0 1 20.5 6v8a6.507 6.507 0 0 1-6.5 6.5H6A6.507 6.507 0 0 1-.5 14V6A6.507 6.507 0 0 1 6-.5zm8 20a5.506 5.506 0 0 0 5.5-5.5V6A5.506 5.506 0 0 0 14 .5H6A5.506 5.506 0 0 0 .5 6v8A5.506 5.506 0 0 0 6 19.5z"
                                                transform="translate(6.5 6.5)"></path>
                                            <path id="Ellipse_114" data-name="Ellipse 114"
                                                class="text-gray-600 fill-current"
                                                d="M4.9-.5A5.4 5.4 0 1 1-.5 4.9 5.41 5.41 0 0 1 4.9-.5zm0 9.808A4.4 4.4 0 1 0 .5 4.9a4.409 4.409 0 0 0 4.4 4.408z"
                                                transform="translate(11.596 11.596)"></path>
                                            <circle id="Ellipse_115" data-name="Ellipse 115"
                                                class="text-gray-600 fill-current" cx=".75" cy=".75" r=".75"
                                                transform="translate(21.747 9.707)"></circle>
                                        </svg>
                                    </span>
                                </a>
                            </div>
                       
                    </div>
                </div>

                <div class="flex flex-col sm:flex-row">
                    <div class="mb-4 sm:w-3/5 xl:w-5/12 sm:mb-0 sm:pr-20 xl:pr-0"
                        data-qa="containerFooterNewsletter">
                        <p class="m-0 font-bold">Vous ne voulez rien rater ?</p>
                        <p class="mb-2 text-sm">Inscrivez-vous pour recevoir nos actus et offres</p>

                          
                                <form name="newsletter_subscription" method="post"
                                    action="https://www.onatera.com/FR/fr/newsletter/subscribe"
                                    novalidate="novalidate" data-target="ajax-post-form.form"
                                    data-action="submit:ajax-post-form#postAjaxForm">
                                    
                                        <div class="relative z-auto">
                                            <input type="email" id="newsletter_subscription_email"
                                                name="newsletter_subscription[email]" required="required"
                                                placeholder="Email"
                                                class="w-full pr-24 h-12 border-gray-300 focus:outline-none focus:ring-0 focus:border-gray-700 text-base rounded-lg appearance-none"
                                                data-target="input-button.input"
                                                data-action="input:input-button#checkValidity input:js-validation-form-field#validateField input:input-button#checkInputForm"
                                                data-targets="js-validation-form-field.inputs input-button.inputs">



                                            <button type="submit"
                                                class="leading-none flex items-center justify-center space-x-1 rounded-lg border-none outline-none transition disabled:ring-gray-200 disabled:bg-gray-200 disabled:text-gray-400 disabled:cursor-not-allowed xl:disabled:hover:ring-1 text-white bg-gray-900 ring-gray-900 xl:hover:bg-gray-700 xl:hover:ring-gray-700 absolute top-1/2 right-1 -translate-y-1/2 py-3 px-5 rounded-md py-4 px-8"
                                                disabled="" data-target="input-button.button">
                                                <div class="pt-1 hidden flex justify-center h-full absolute w-full bg-gray-700 rounded-lg"
                                                    data-target="ajax-navigation-login.load">
                                                    <p class="loader"></p>
                                                </div>



                                                <span class="font-semibold">Valider</span>

                                            </button>
                                        </div>
                                
                                    <input type="hidden" id="newsletter_subscription_source"
                                        name="newsletter_subscription[source]" required="required"
                                        class="mt-2 w-full h-12 border-gray-300 focus:outline-none focus:ring-0 focus:border-gray-700 text-base rounded-lg appearance-none"
                                        data-targets="js-validation-form-field.inputs input-button.inputs"
                                        data-action="input:js-validation-form-field#validateField input:input-button#checkInputForm"
                                        value="footer">
                                </form>

                                <div data-target="ajax-post-form.flashSuccess"
                                    class="py-1 px-2 mt-2 flex items-center bg-brand-50 rounded-xl absolute top-8 left-0 right-0 hidden translate-y-4 transition duration-500 ease-in-out">
                                    <svg class="fill-current h-8 w-8 mr-2 flex-shrink-0 text-brand-100"
                                        id="Icon_Valide" data-name="Icon / Valide"
                                        xmlns="http://www.w3.org/2000/svg" width="32" height="32">
                                        <path id="Rectangle_370" data-name="Rectangle 370" style="fill:none"
                                            d="M0 0h32v32H0z"></path>
                                        <path id="Tracé_8047" data-name="Tracé 8047"
                                            d="M10.554.377C2.754 4.665 0 5.1 0 10.931a10.554 10.554 0 1 0 21.109 0c0-5.831-2.754-14.843-10.555-10.554z"
                                            transform="translate(4 5.371)"></path>
                                        <ellipse id="Ellipse_64" data-name="Ellipse 64"
                                            class="text-brand-500 stroke-current"
                                            style="fill:none;stroke-linecap:round;stroke-linejoin:round"
                                            cx="9" cy="8.704" rx="9" ry="8.704"
                                            transform="translate(9.067 9.096)"></ellipse>
                                        <path id="Tracé_8048" data-name="Tracé 8048"
                                            class="text-brand-500 stroke-current"
                                            style="fill:none;stroke-linecap:round;stroke-linejoin:round"
                                            d="m-593.818-10605.733 2.3 2.3 4.944-4.944"
                                            transform="translate(609 10623.454)"></path>
                                    </svg>
                                    <p class="m-0 text-xs sm:text-sm text-brand-500"></p>

                                    
                                </div>
                                <div data-target="ajax-post-form.flashError"
                                    class="py-1 px-2 mt-2 flex items-center bg-red-50 rounded-xl absolute top-8 left-0 right-0 hidden translate-y-4 transition duration-500 ease-in-out">
                                    <svg class="fill-current h-8 w-8 mr-2 flex-shrink-0 text-red-100"
                                        data-name="Icon - Warning" xmlns="http://www.w3.org/2000/svg"
                                        width="32" height="32">
                                        <g id="Icon_Pourcentage" data-name="Icon Pourcentage"
                                            transform="translate(-26.279 -3286.745)">
                                            <path id="Tracé_8522" data-name="Tracé 8522"
                                                d="M9.246.748c6.875 3.743 9.012 4.718 9.012 9.806a8.824 8.824 0 0 1-9.012 8.988 8.824 8.824 0 0 1-9.012-8.989C.234 5.465 2.37-3 9.246.748z"
                                                transform="translate(38.17 3289.907)"></path>
                                            <path id="Ligne_206" data-name="Ligne 206"
                                                class="text-red-500 stroke-current"
                                                style="fill:none;stroke-linecap:round;stroke-linejoin:round"
                                                transform="translate(41.84 3299.14)" d="M0 0v5.71"></path>
                                            <g id="Ellipse_85" data-name="Ellipse 85"
                                                class="text-red-500 stroke-current"
                                                transform="translate(41.126 3306.707)"
                                                style="fill:none;stroke-linecap:round;stroke-linejoin:round">
                                                <circle cx=".714" cy=".714" style="stroke:none" r=".714">
                                                </circle>
                                                <circle style="fill:none" cx=".714" cy=".714" r=".214">
                                                </circle>
                                            </g>
                                            <path id="Tracé_8072" data-name="Tracé 8072"
                                                class="text-red-500 stroke-current"
                                                style="fill:none;stroke-linecap:round;stroke-linejoin:round"
                                                d="m-3565.629 2633.38-6.695 12.773a1.634 1.634 0 0 0 1.448 2.392h14.021a1.634 1.634 0 0 0 1.417-2.447l-7.327-12.773a1.634 1.634 0 0 0-2.864.055z"
                                                transform="translate(3605.791 662.24)"></path>
                                            <path id="Rectangle_370" data-name="Rectangle 370"
                                                style="fill:none" transform="translate(26.279 3286.745)"
                                                d="M0 0h32v32H0z"></path>
                                        </g>
                                    </svg>
                                    <p class="m-0 text-xs sm:text-sm text-red-500"
                                        data-error-message="newsletter_subscription"></p>

                        
                                </div>
                            
                    </div>

                    <div
                        class="py-8 px-16 sm:px-8 flex flex-col items-center bg-gray-50 sm:w-2/5 xl:w-1/4 xl:absolute right-0 top-0">
                    
                            <img class="mx-auto mb-1"
                                src="./static/review-stars-onatera.808e38bf.svg"
                                alt="5 étoiles" loading="lazy">
                            <p class="mb-3 h-9 text-3xl font-bold"
                                data-target="footer-reviews.reviewsScore">4,8/5</p>
                            <p class="mb-2 font-bold">Excellent</p>
                            <p class="mb-1 h-5 text-sm" data-target="footer-reviews.totalReviews">Basé sur
                                41 056 avis</p>

                            <img class="mx-auto mb-6 w-40" width="160" height="37"
                                src="./static/verified-reviews-onatera.41f998e7.png"
                                alt="Logo Avis Vérifiés" loading="lazy">

                            <a href="https://www.avis-verifies.com/avis-clients/onatera.com" target="_blank"
                                class="whitespace-nowrap">
                                <button type="button"
                                    class="leading-none bg-transparent space-x-1 rounded-lg border-none outline-none border ring-1 transition py-4 px-8 text-brand-600 ring-brand-600 active:bg-brand-100 w-full xl:hover:ring-2 disabled:ring-gray-400 disabled:active:bg-transparent disabled:text-gray-400 xl:disabled:hover:ring-1"
                                    data-qa="footerReviews">
                                    <span class="flex flex-row justify-center items-center">

                                        <span class="font-semibold">Lire les avis clients</span>

                                    </span>
                                </button>
                            </a>
            
                    </div>
                </div>
            </div>
            <div class="hidden py-8 w-1/4 xl:flex xl:h-80"></div>
        </div>

        <div
            class="flex flex-col mx-4 text-sm border-gray-200 lg:mx-10 xl:mx-0 lg:pt-6 lg:flex-row lg:items-center lg:justify-between lg:border-t pb-4 lg:pb-6">
            <div class="flex flex-col lg:flex-row">
                <a href="https://www.onatera.com/FR/fr/info/faq"
                    class="mb-4 border-gray-200 lg:mb-0 lg:pr-2 lg:border-r xl:hover:text-gray-500"
                    data-qa="footerLnkFaq">FAQ</a>
                <a href="https://www.onatera.com/FR/fr/info/cgv"
                    class="mb-4 border-gray-200 lg:mb-0 lg:px-2 lg:border-r xl:hover:text-gray-500"
                    data-qa="footerLnkCgv">CGV</a>
                <a href="https://www.onatera.com/FR/fr/info/mentions-legales"
                    class="mb-4 border-gray-200 lg:mb-0 lg:px-2 lg:border-r xl:hover:text-gray-500"
                    data-qa="footerLnkLegal">Mentions légales</a>
                <a href="https://www.onatera.com/FR/fr/info/protection-des-donnees"
                    class="mb-4 border-gray-200 lg:mb-0 lg:px-2 lg:border-r xl:hover:text-gray-500"
                    data-qa="footerLnkData">Protection des données</a>
                <a href="https://www.onatera.com/FR/fr/rgpd"
                    class="mb-4 border-gray-200 lg:mb-0 lg:px-2 xl:hover:text-gray-500"
                    data-qa="footerLnkCookies">Politique des cookies</a>
            </div>
            <div class="pt-4 border-t border-gray-200 lg:justify-end lg:pt-0 lg:border-t-0">
                <a href="https://www.onatera.com/FR/fr/info/cgv#paiement" class="flex items-center">
                    <img class="w-9 xl:w-12"
                        src="./static/cb.8eb05a7b.png"
                        alt="CB" loading="lazy">
                    <img class="ml-2 w-9 xl:w-12"
                        src="./static/visa.3d3d61da.png"
                        alt="Visa" loading="lazy">
                    <img class="ml-2 w-9 xl:w-12"
                        src="./static/mastercard.6d05c8bb.png"
                        alt="Mastercard" loading="lazy">
                    <img class="ml-2 w-9 xl:w-12"
                        src="./static/paypal.4d63dbea.png"
                        alt="PayPal" loading="lazy">
                </a>
            </div>
        </div>
    </div>
</footer>
