<div
class="mt-3 mb-4 ml-4 font-sans text-xs text-gray-500 sm:ml-11 xl:ml-0 xl:mt-6 xl:mb-3">
<div class="hidden xl:flex">
    <a href="https://www.onatera.com/FR/fr"
        class="font-semibold">Accueil</a>
    <div class="mr-1 ml-1"> | </div>
    <a href="https://www.onatera.com/FR/fr/aromatherapie"
        class="font-semibold">Aromathérapie</a>
    <div class="mr-1 ml-1"> | </div>
    <div>Toutes nos huiles végétales</div>
</div>

<div class="flex xl:hidden">
    <a class="flex mr-1"
        href="https://www.onatera.com/FR/fr/aromatherapie">
        <div class="mr-1 ml-1"> &lt; Retour à </div>
        <div class="flex-1">Aromathérapie</div>
    </a>
</div>
</div>
