<div>
    <div class="px-4 sm:px-11 text-center nb-product-header">
        <h1 class="mt-6 mb-1 font-sans text-2xl font-semibold text-gray-800"
            data-qa="pageShopTitle">Toutes nos huiles végétales</h1>
        <p class="text-sm text-gray-600" data-qa="numberOfProducts">
            <b class="font-semibold">49</b> produits dont <b><a
                    class="font-semibold underline" rel="nofollow"
                    data-action="click:ajax-navigation#navigate">41 en
                    marques Onatera</a></b>
        </p>
    </div>
</div>
