
<div class="hidden flex-col mb-2 font-sans text-sm text-gray-700 xl:flex">
    <div class="flex relative flex-row justify-between items-center self-start px-4 py-4 lg:mb-4 w-full shadow xl:px-0 xl:shadow-none xl:py-0">
        <div class="flex justify-start items-center">
            <p class="flex items-start pr-2 m-0 font-sans text-xl font-bold text-gray-800">Filtrer</p>
        </div>
    </div>


    <div class="overflow-y-scroll px-4 pt-1 pb-20 xl:pb-6 xl:px-0 xl:overflow-y-visible lg:pt-0">
    <ul>

        <li>
            <a data-link-id="is_new"
                class="flex flex-row items-center mb-2 hidden"
                href="https://www.onatera.com/FR/fr/aromatherapie/toutes-nos-huiles-vegetales?is_new=1"
                rel="nofollow"
                data-action="click:ajax-navigation#navigate">
                <div>
                    <div
                        class="m-0 w-4 h-4 rounded border border-black cursor-pointer">
                    </div>
                </div>
                <div
                    class="my-0 ml-2 font-sans text-sm text-gray-700 cursor-pointer">
                    Nouveautés</div>
                <div
                    class="px-2 py-1 m-0 my-0 ml-2 font-sans text-center bg-gray-100 rounded-lg text-brand-900 text-2xs">
                    0</div>
            </a>
        </li>


        <li>
            <a data-link-id="has_discount"
                class="flex flex-row items-center mb-2 "
                href="https://www.onatera.com/FR/fr/aromatherapie/toutes-nos-huiles-vegetales?has_discount=1"
                rel="nofollow"
                data-action="click:ajax-navigation#navigate">
                <div>
                    <div
                        class="m-0 w-4 h-4 rounded border border-black cursor-pointer">
                    </div>
                </div>
                <div
                    class="my-0 ml-2 font-sans text-sm text-gray-700 cursor-pointer">
                    En promotion</div>
                <div
                    class="px-2 py-1 m-0 my-0 ml-2 font-sans text-center bg-gray-100 rounded-lg text-brand-900 text-2xs">
                    1</div>
            </a>
        </li>


        <li>
            <a data-link-id="own_brand"
                class="flex flex-row items-center mb-2 "
                href="https://www.onatera.com/FR/fr/aromatherapie/toutes-nos-huiles-vegetales?own_brand=1"
                rel="nofollow"
                data-action="click:ajax-navigation#navigate">
                <div>
                    <div
                        class="m-0 w-4 h-4 rounded border border-black cursor-pointer">
                    </div>
                </div>
                <div
                    class="my-0 ml-2 font-sans text-sm text-gray-700 cursor-pointer">
                    Produits Marques Onatera</div>
                <div
                    class="px-2 py-1 m-0 my-0 ml-2 font-sans text-center bg-gray-100 rounded-lg text-brand-900 text-2xs">
                    41</div>
            </a>
        </li>


        <li>
            <a data-link-id="has_stock"
                class="flex flex-row items-center mb-2 "
                href="https://www.onatera.com/FR/fr/aromatherapie/toutes-nos-huiles-vegetales?has_stock=1"
                rel="nofollow"
                data-action="click:ajax-navigation#navigate">
                <div>
                    <div
                        class="m-0 w-4 h-4 rounded border border-black cursor-pointer">
                    </div>
                </div>
                <div
                    class="my-0 ml-2 font-sans text-sm text-gray-700 cursor-pointer">
                    Produits en stock</div>
                <div
                    class="px-2 py-1 m-0 my-0 ml-2 font-sans text-center bg-gray-100 rounded-lg text-brand-900 text-2xs">
                    47</div>
            </a>
        </li>
    </ul>

    <div class="my-5 border-b border-gray-300"></div>
</div>





